[Desktop Entry]
Version=1.0
Name=SoftRAID Monitor
Comment=Software RAID monitoring tool
Exec=srmqt4
Icon=drive-harddisk
Terminal=False
Type=Application
StartupNotify=True
